footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    padding-top: var(--margin-lg);
    background: black;
    color: white;
}

footer h3 {
    font-family: 'Roboto', sans-serif;
}

#site-map, #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 80%;
}

/* ========== SOCIAL MEDIA ========== */
#social-media-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100% - 40rem);
    height: 20%;
    margin-bottom: 2rem;
    padding: 0 20rem 0 20rem;
}


/* ========== FOOTER SITE MAP ========== */
#footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - calc(var(--margin-sm)*2));
    width: calc(100% - calc(var(--margin-md)*2));
    margin: 0 var(--margin-md) 0 var(--margin-md);
    padding: none;
}

#site-map {
    padding-left: var(--margin-sm);
    border: none;
    border-top: white;
    border-top-style: solid;
    border-bottom: white;
    border-bottom-style: solid;
    border-width: thin;
    border-radius: 0;
}

    #site-map :nth-child(2) {
        margin-top: var(--margin-sm);
    }

    #site-map :nth-child(5) {
        margin-bottom: var(--margin-sm);
    }


/* ========== FOOTER CONTACT FORM ========== */
#contact-form {
    padding: 0 var(--margin-sm) 0 var(--margin-sm);
    border: white;
    border-style: solid;
    border-width: thin;
    border-radius: 0;
}

#contact-form label {
    margin-bottom: var(--margin-sm);
}

.name-num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name, .num {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-body {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.form-body textarea {
    height: 100%;
}

.ye-old-goat {
    height: 70vh;
    background: url("../images/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-page {
    height: 100vh;
    padding-top: var(--margin-md);
}