/* ========== SECTIONS ========== */
section {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 90vh;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: var(--margin-md);
    box-sizing: border-box;
}

/* ========== TITLE CARDS ========== */
section .title-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.title-card .inner-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title-card h1 {
    font-size: 5rem;
    color: var(--color-text);
    letter-spacing: 1rem;
}

.title-card h2 {
    font-size: 3rem;
    color: var(--color-text);
    letter-spacing: 1rem;
}

.title-card p {
    margin-top: var(--margin-sm);
}


/* ========== MISC ========== */
.pad-right {
    padding-right: var(--margin-md);
}

.cta-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: var(--margin-md) 0;
    padding: 10px;
    font-size: 2rem;
    color: var(--color-text);
    font-family: 'Gideon Roman', cursive;
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: var(--color-1);
    border-bottom-style: solid;
    border-width: thin;
    border-radius: 0;
    transition: 400ms ease-in-out;
}

    .cta-btn:hover {
        cursor: pointer;
    }