/* section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 60vh;
    width: calc(100% - calc(var(--margin-md) * 2));
    margin: 0 var(--margin-md) 0 var(--margin-md);
} */

section {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: calc(100% - calc(var(--margin-md) * 2));
    margin: 0 var(--margin-md) 0 var(--margin-md);
}

section.even {
    flex-direction: row;
}

section.odd {
    flex-direction: row-reverse;
}

section div {
    width: 50%;
}


/* ========== TITLE-CARD ========== */
.title-card {
    padding: var(--margin-lg);
    box-sizing: border-box;
}

section.even .title-card{
    padding-left: var(--margin-md);
    padding-right: calc(var(--margin-lg)*2);

}

section.odd .title-card{
    padding-right: var(--margin-md);
    padding-left: calc(var(--margin-lg)*2);
    text-align: right;
}

.title-card :nth-child(n) {
    margin-bottom: var(--margin-sm);
}

.deco-bar {
    height: 4px;
    width: 18rem;
    background: var(--color-bg-2);
}


/* ========== IMAGES ========== */
.image-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.section-main-img {
    z-index: -1;
    position: relative;
    height: 200%;
    width: 200%;
    top: -15rem;
    left: -20rem;
    background-image: url(../images/goat-2.png);
    background-position: CENTER;
    background-repeat: no-repeat;
    background-size: contain;
}